*{
margin : 0;
padding : 0;
}
body{
    background-color: #f3f5f7;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

.clearfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    width: 1200px;
    height: 42px;
    margin: 30px auto;
}
.header .logo{
    float: left;
    width: 195px;
    height: 42px;
}
.header .nav{
    float: left;
    margin-left: 68px;
    line-height: 42px;
}
.header .nav ul{
    overflow: hidden;
}
.header .nav ul li{
    float: left;
}
.header .nav ul li a{
    float: left;
    display: block;
    height: 40px;
    padding: 0 15px;
}
.header .nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
}
.header .search{
    width: 412px;
    height: 40px;
    float: left;
    margin-left: 80px;
}
.header .search input{
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0px;
    padding-left: 15px;
}
.header .search button{
    float: left;
    display: block;
    width: 50px;
    height: 42px;
    border: none;
    background: url("./imgs/search.png");
}
.header .profile{
    float: left;
    margin-left: 30px;
    width: 118px;
    height: 42px;
}
.header .profile img{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
}
.header .profile span{
    padding-left: 8px;
}
/* banner */
.banner{
    height: 420px;
    background-color: #1c036c;
}
.banner .subBanner{
    height: 420px;
    background: pink;
    background: url(./imgs//banner2.png);
}
.banner .subBanner .subNav{
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
}
.banner .subBanner .subNav ul{
    padding: 25px 20px;
}
.banner .subBanner .subNav ul li{
    /* height: 14px; */
    margin-bottom: 30px;
}
.banner .subBanner .subNav ul li a{
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.banner .subBanner .subNav ul li a span{
    float: right;
}
.banner .subBanner .course{
    float: right;
    margin-top: 50px;
    /* background: pink; */
    width: 230px;
    height: 300px;
    background-color: #fff;
}
.banner .subBanner .course h4{
    font-size: 18px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea;
}
.banner .subBanner .course ul{
    padding: 20px 15px 0px 15px;
    background-color: #fff;
}
.banner .subBanner .course ul li{
    height: 52px;
    border-bottom: 2px solid #efefef;
}
.banner .subBanner .course ul li h5{
    font-size: 16px;
}
.banner .subBanner .course ul li p{
    font-size: 10px;
    color: #bdbdbd;
}
.banner .subBanner .course button{
    display: block;
    width: 198px;
    height: 38px;
    border: 1px solid #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    margin: 5px auto;
}
/* goods */
.goods{
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    margin: 5px auto;
    line-height: 60px;
    font-size: 14px;
}
.goods h4{
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    color: #00a4ff;
    font-size: 18px;
    
}
.goods ul{
    float: left;
}
.goods ul li{
    float: left;
}
.goods ul li a{
    padding: 0 35px;
    border-left: 1px solid #bfbfbf;
}
.goods .mod{
    float: right;
    margin-right: 35px;
    color: #00a4ff;
}
/* recommend */
.recommend{
    margin-top: 37px;
}
.recommend .recomHead{
    height: 40px;
}
.recommend .recomHead h4{
    float: left;
    font-size: 19px;
    color: #494949;
    font-weight: 400   ;
}
.recommend .recomHead span{
    float: right;
    font-size: 11px;
    color: #a5a5a5;
}
.recommend .recomBody{
    /* overflow: hidden; */
}
.recommend .recomBody img{
    width: 100%;
    vertical-align: top;
}
.recommend .recomBody ul{
    width: 1205px;
}
.recommend .recomBody ul li{
    width: 228px;
    height: 270px;
    float: left;
    margin-right: 13px;
    margin-bottom: 14px;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}
.recommend .recomBody h5{
    margin: 20px 20px 20px 24px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}
.recommend .recomBody p{
    font-size: 12px;
    color: #777777;

}
.recommend .recomBody p span:nth-child(1){
    color: #ff7c2d;
    margin-left: 20px;
}
/* footer */
.footer{
    height: 400px;
    background-color: #fff;
}
.footer .subFoot{
    padding-top: 33px;
}
.footer .subFoot .copy{
    width: 426px;
    float: left;
}
.footer .subFoot .copy p{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 12px;
    color: #666;
}

.footer .subFoot .copy button{
	border: solid 1px #00a4ff;
	width: 120px;
	height: 36px;
    font-size: 16px;
    color: #00a4ff;
    background-color: #fff;
    text-align: center;
    line-height: 36px;
}
.footer .subFoot .detail{
    float: right;
}
.footer .subFoot .detail dl{
    float: left;
    margin-left: 100px;
}
.footer .subFoot .detail dl dt{
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
}
.footer .subFoot .detail dl dd{
    font-size: 12px;
    color: #333;
    margin-bottom: 3px;
}
.footer .subFoot .detail dl a:visited{
    color: #333;
}