*{
margin : 0;
padding : 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.w{
    width: 1200px;
    margin: 0 auto;
}
/* header */
.header{
    width: 1200px;
    height: 42px;
    margin: 30px auto;
}
.header .logo{
    float: left;
    width: 195px;
    height: 42px;
}
.header .nav{
    float: left;
    margin-left: 68px;
    line-height: 42px;
}
.header .nav ul{
    overflow: hidden;
}
.header .nav ul li{
    float: left;
}
.header .nav ul li a{
    float: left;
    display: block;
    height: 40px;
    padding: 0 15px;
}
.header .nav ul li a:hover{
    border-bottom: 2px solid #00a4ff;
}
.header .search{
    width: 412px;
    height: 40px;
    float: left;
    margin-left: 80px;
}
.header .search input{
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0px;
    padding-left: 15px;
}
.header .search button{
    float: left;
    display: block;
    width: 50px;
    height: 42px;
    border: none;
    background: url("./imgs/search.png");
}
.header .profile{
    float: left;
    margin-left: 30px;
    width: 118px;
    height: 42px;
}
.header .profile img{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 15px;
}
.header .profile span{
    padding-left: 8px;
}
/* banner */
.banner{
    height: 420px;
    background-color: #1c036c;
}
.banner .subBanner{
    height: 420px;
    background: pink;
    background: url(./imgs//banner2.png);
}
.banner .subBanner .subNav{
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
}
.banner .subBanner .subNav ul{
    padding: 25px 20px;
}
.banner .subBanner .subNav ul li{
    /* height: 14px; */
    margin-bottom: 30px;
}
.banner .subBanner .subNav ul li a{
    display: block;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
.banner .subBanner .subNav ul li a span{
    float: right;
}
.banner .subBanner .course{
    float: right;
    margin-top: 50px;
    /* background: pink; */
    width: 230px;
    height: 300px;
    background-color: #fff;
}
.banner .subBanner .course h4{
    font-size: 18px;
    color: #fff;
    height: 48px;
    line-height: 48px;
    text-align: center;
    background-color: #9bceea;
}
.banner .subBanner .course ul{
    padding: 20px 15px 0px 15px;
    background-color: #fff;
}
.banner .subBanner .course ul li{
    height: 52px;
    border-bottom: 2px solid #efefef;
}
.banner .subBanner .course ul li h5{
    font-size: 16px;
}
.banner .subBanner .course ul li p{
    font-size: 10px;
    color: #bdbdbd;
}
.banner .subBanner .course button{
    display: block;
    width: 198px;
    height: 38px;
    border: 1px solid #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    font-size: 15px;
    text-align: center;
    line-height: 38px;
    margin: 5px auto;
}
